OPENAI_API_KEY="sk-zS5Y7PQWgxzn4Hk151Af2uZ1PFRXN4mwVJM6Zfp9taYEIPau"
OPENAI_BASE_URL="https://api.chatanywhere.tech"
ModelScope_CHAT_MODEL="./Qwen/Qwen2.5-0.5B-Instruct"
OLLAMA_BASE_URL=
OLLAMA_MODEL=